@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 99.7%);
}

.main-container {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-div {
  width: 100%;
  height: 40%;
  background-image: url("./images/bg-hero-desktop.svg");
  object-fit: contain;
}

.header-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(75, 173, 235, 0.2);
}

.nav-bar {
  font-family: "Poppins", sans-serif;
  padding: 20px 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-bar p {
  box-shadow: 2px 2px 6px hsl(208, 11%, 55%);
  font-size: 12px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #fff;
}

.header-mockups {
  display: flex;
  align-items: center;
  padding: 30px 80px 30px 60px;
  margin-bottom: 30px;
}

.header-mockups-img {
  padding: 0px;
  width: 100%;
}

.header-mockups-article {
  width: 100%;
  margin-top: 10px;
  padding: 20px 40px;

  /* background-color: rgb(107, 224, 98); */
}

.header-mockups-article h1 {
  padding-right: 90px;
  width: 100%;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  margin-bottom: 30px;
}

.header-mockups-article p {
  width: 100%;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  padding-right: 32px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 20px 50px;
  margin: 20px auto;
  width: 250px;
}

/* second div*/

.main-class {
  /* background-color: rgb(197, 197, 249); */
  display: flex;
  flex-direction: column;
}

.grow-div {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgba(128, 141, 153, 0.05);
  border-radius: 30px;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 80px 90px;
  margin: 20px 60px;
}

.grow-article {
  height: 100%;
  width: 100%;
  padding: 0px 50px;
}

.grow-article h1 {
  padding-right: 20px;
  width: 100%;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.grow-article p {
  color: hsl(208, 11%, 55%);
  width: 100%;
  line-height: 1.2;
  font-family: "Open Sans", sans-serif;
  padding-right: 32px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;
}

.grow-img {
  height: 100%;
  width: 100%;
  padding: 0px 30px;
}

.bottom-cta {
  font-family: "Poppins", sans-serif;
  border: 3px solid rgba(128, 141, 153, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  padding: 40px 30px;
  text-align: center;
  width: 60%;
  margin: 0px auto;
  position: relative;
  bottom: -50px;
}

.bottom-cta button {
  width: 250px;
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: white;
  margin-top: 20px;
}

footer {
  padding: 120px 80px 50px 50px;
  display: flex;
  justify-content: space-between;
  height: 500px;
  background-color: hsl(192, 100%, 9%);
}

.first-footer-div {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  justify-content: space-around;
}

.first-footer-img {
  padding-left: 10px;
  filter: brightness(0) invert(1);
}

.first-footer-p1 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
}

.first-footer-p1 p {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.first-footer-p1 img {
  padding-top: 3px;
}

.first-footer-p2 {
  display: flex;
  padding: 10px;
  align-items: flex-start;
}

.first-footer-p2 p {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first-footer-p2 img {
  margin-top: 5px;
}

.first-footer-p3 {
  display: flex;
  padding: 10px;

  align-items: flex-start;
}

.first-footer-p3 p {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.first-footer-p3 img {
  margin-top: 5px;
}

.second-footer-div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  padding: 100px 30px 100px 10px;
  flex-direction: column;
  height: 100%;
  width: 20%;
  justify-content: space-around;
}

.third-footer-div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  padding: 100px 30px 100px 10px;
  flex-direction: column;
  height: 100%;
  width: 20%;
  justify-content: space-around;
}

.fourth-footer-div {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: white;
  display: flex;
  padding: 112px 10px 30px 10px;
  flex-direction: column;
  height: 100%;
  width: 25%;
  justify-content: space-between;
}

ion-icon {
  font-size: 30px;
}

.icon-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 0px;
}

.icon-p {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}

@media only screen and (max-width: 375px) {
  .header-mockups {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
  }

  .nav-bar {
    font-family: "Poppins", sans-serif;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar img {
    width: 40%;
    height: 20%;
  }

  .nav-bar p {
    box-shadow: 2px 2px 6px hsl(208, 11%, 55%);
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #fff;
  }

  .header-mockups-img {
    padding: 0px;
    width: 100%;
  }

  .header-mockups-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 20px 10px;
    align-items: center;
  }

  .header-mockups-article h1 {
    padding-right: 5px;
    width: 100%;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .header-mockups-article p {
    width: 100%;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    margin: 20px auto;
    width: 250px;
  }

  .grow-div {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(128, 141, 153, 0.05);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 20px 10px;
    margin: 20px 20px;
  }

  .grow-article {
    height: 100%;
    width: 100%;
    padding: 0px 5px;
  }

  .grow-article h1 {
    padding-right: 5px;
    width: 100%;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .grow-article p {
    color: hsl(208, 11%, 55%);
    width: 100%;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .grow-img {
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 20px;
  }

  .bottom-cta {
    font-family: "Poppins", sans-serif;
    border: 3px solid rgba(128, 141, 153, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    padding: 40px 30px;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    position: relative;
    bottom: -50px;
  }

  .bottom-cta h1 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .bottom-cta button {
    width: 200px;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-top: 20px;
  }

  footer {
    padding: 120px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    background-color: hsl(192, 100%, 9%);
  }

  .first-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
  }

  .first-footer-img {
    padding-left: 10px;
    filter: brightness(0) invert(1);
    margin-bottom: 20px;
  }

  .first-footer-p1 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }

  .first-footer-p1 p {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
  }

  .first-footer-p1 img {
    padding-top: 3px;
  }

  .first-footer-p2 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }

  .first-footer-p2 p {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .first-footer-p2 img {
    margin-top: 5px;
  }

  .first-footer-p3 {
    display: flex;
    padding: 10px;

    align-items: flex-start;
  }

  .first-footer-p3 p {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  }

  .first-footer-p3 img {
    margin-top: 5px;
  }

  .second-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding: 10px 10px 10px 28px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  .third-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    margin-top: 40px;
    padding: 10px 10px 10px 28px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  .fourth-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  ion-icon {
    font-size: 30px;
  }

  .icon-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
  }

  .icon-p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
}

@media only screen and (max-width: 450px) {
  .header-mockups {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
  }

  .nav-bar {
    font-family: "Poppins", sans-serif;
    padding: 20px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar img {
    width: 40%;
    height: 20%;
  }

  .nav-bar p {
    box-shadow: 2px 2px 6px hsl(208, 11%, 55%);
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #fff;
  }

  .header-mockups-img {
    padding: 0px;
    width: 100%;
  }

  .header-mockups-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 20px 10px;
    align-items: center;
  }

  .header-mockups-article h1 {
    padding-right: 5px;
    width: 100%;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .header-mockups-article p {
    width: 100%;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    margin: 20px auto;
    width: 250px;
  }

  .grow-div {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(128, 141, 153, 0.05);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 20px 10px;
    margin: 20px 20px;
  }

  .grow-article {
    height: 100%;
    width: 100%;
    padding: 0px 5px;
  }

  .grow-article h1 {
    padding-right: 5px;
    width: 100%;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .grow-article p {
    color: hsl(208, 11%, 55%);
    width: 100%;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .grow-img {
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 20px;
  }

  .bottom-cta {
    font-family: "Poppins", sans-serif;
    border: 3px solid rgba(128, 141, 153, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    padding: 40px 30px;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    position: relative;
    bottom: -50px;
  }

  .bottom-cta h1 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .bottom-cta button {
    width: 200px;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-top: 20px;
  }

  footer {
    padding: 120px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    background-color: hsl(192, 100%, 9%);
  }

  .first-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
  }

  .first-footer-img {
    padding-left: 10px;
    filter: brightness(0) invert(1);
    margin-bottom: 20px;
  }

  .first-footer-p1 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }

  .first-footer-p1 p {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
  }

  .first-footer-p1 img {
    padding-top: 3px;
  }

  .first-footer-p2 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }

  .first-footer-p2 p {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .first-footer-p2 img {
    margin-top: 5px;
  }

  .first-footer-p3 {
    display: flex;
    padding: 10px;

    align-items: flex-start;
  }

  .first-footer-p3 p {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  }

  .first-footer-p3 img {
    margin-top: 5px;
  }

  .second-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding: 10px 10px 10px 28px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  .third-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    margin-top: 40px;
    padding: 10px 10px 10px 28px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  .fourth-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  ion-icon {
    font-size: 30px;
  }

  .icon-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
  }

  .icon-p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
}

@media only screen and (max-width: 850px) {
  .header-mockups {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 30px 20px;
  }

  .nav-bar {
    font-family: "Poppins", sans-serif;
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar img {
    width: 40%;
    height: 20%;
  }

  .nav-bar p {
    box-shadow: 2px 2px 6px hsl(208, 11%, 55%);
    font-size: 12px;
    padding: 12px 40px;
    border-radius: 20px;
    background-color: #fff;
  }

  .header-mockups-img {
    padding: 0px;
    width: 100%;
  }

  .header-mockups-article {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 20px 10px;
    align-items: center;
  }

  .header-mockups-article h1 {
    padding-right: 5px;
    width: 100%;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
  }

  .header-mockups-article p {
    width: 100%;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px 50px;
    margin: 20px auto;
    width: 250px;
  }

  .grow-div {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(128, 141, 153, 0.05);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding: 30px 30px;
    margin: 20px 20px;
  }

  .grow-article {
    height: 100%;
    width: 100%;
    padding: 0px 5px;
  }

  .grow-article h1 {
    padding-right: 5px;
    width: 100%;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
  }

  .grow-article p {
    color: hsl(208, 11%, 55%);
    width: 100%;
    line-height: 1.2;
    font-family: "Open Sans", sans-serif;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .grow-img {
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 20px;
  }

  .bottom-cta {
    font-family: "Poppins", sans-serif;
    border: 3px solid rgba(128, 141, 153, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    border-radius: 10px;
    background-color: white;
    padding: 40px 30px;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    position: relative;
    bottom: -50px;
  }

  .bottom-cta h1 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .bottom-cta button {
    width: 200px;
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    margin-top: 20px;
  }

  footer {
    padding: 120px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    background-color: hsl(192, 100%, 9%);
  }

  .first-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;
  }

  .first-footer-img {
    padding-left: 10px;
    filter: brightness(0) invert(1);
    margin-bottom: 20px;
  }

  .first-footer-p1 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }

  .first-footer-p1 p {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
  }

  .first-footer-p1 img {
    padding-top: 3px;
  }

  .first-footer-p2 {
    display: flex;
    padding: 10px;
    align-items: flex-start;
  }

  .first-footer-p2 p {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .first-footer-p2 img {
    margin-top: 5px;
  }

  .first-footer-p3 {
    display: flex;
    padding: 10px;

    align-items: flex-start;
  }

  .first-footer-p3 p {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
  }

  .first-footer-p3 img {
    margin-top: 5px;
  }

  .second-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding: 10px 10px 10px 28px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  .third-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    margin-top: 40px;
    padding: 10px 10px 10px 28px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  .fourth-footer-div {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    height: 150px;
    width: 100%;
    justify-content: space-around;
  }

  ion-icon {
    font-size: 30px;
  }

  .icon-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 40px 10px 40px;
  }

  .icon-p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
  }
}
